<div class="row">
    {{#each antecedent}}
    <div>
        <a class="btn btn-warning btn-block btn-sm mt-3" href="/">Agregar</a>
    </div>
    <div class="text-center row d-flex justify-content-center mt-4">
        <div class="card col-10">
            <table class=" table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">nombre</th>
                        <th scope="col">Editar </th>
                        <th scope="col">Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td> {{antecedentes}} </td>
                        <td>
                            <h4>
                                <a href="/forms/edit/{{_id}}" class="btn btn-info btn-block btn-sm">Editar</a>
                            </h4>
                        </td>
                        <td>

                            <form action="/forms/delete/{{_id}}?_method=DELETE" method="POST">
                                <button class="btn btn-danger btn-block btn-sm" type="submit"> Borrar </button>
                            </form>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <p class="lead">No se encuentran antecedentes.</p>
            <a href="/" class="btn btn-success btn-block">Crea un antecedente</a>
        </div>
    </div>

    {{/each }}
</div>