<div class="card">
    <div class="card-body">

        <h1>About</h1>
        <p>Hola esto es una vista para hablar del proposito de 
            la aplicacion que deseamos implementar
        </p>
    </div>
</div>