<div class="card">
    <div class="card-body">
        <div class="jumbotron mt-4">
            <h1 class="display-4">Virusbility App</h1>
            <p class="lead"> texto genial</p>
             <hr class="my-4">
            <p>esto es un texto mas largo</p>
             <a href="http://facebook.com" class="btn btn-primary btn-lg"> facebook </a>
        </div>
    </div>
</div>